table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

 th {
 background-color:#fd8ef8dd;
    color: #000000;
    text-align: left;
    font-weight: bold;
    padding: 12px 15px;
    border: 5px solid #dddddd;
}


td {
    padding: 12px 15px;
    border: 5px solid #dddddd;
}



